env {
    GT_RETAINIDS = "yes"
    AUGUSTUS_CONFIG_PATH = "/opt/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "/opt/data/filters/filter_short_partials.lua"
    PFAM = "/opt/pfam/Pfam-A.hmm"
    PFAM2GO = "/opt/data/pfam2go/pfam2go.txt"
    RATT_CONFIG = "/opt/RATT/RATT.config_euk_NoPseudo_SpliceSite"
}

params.GO_OBO = "/opt/go.obo"
params.NCRNA_MODELS = "/opt/data/cm/rnas.cm"
params.CIRCOS_CONFIG_FILE = "/opt/data/circos/circos.debian.conf"
params.CIRCOS_BIN_CONFIG_FILE = "/opt/data/circos/circos.bin.debian.conf"
params.SPECFILE = "/opt/data/speck/output_check.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "/opt/data/augustus/extrinsic.cfg"

docker.enabled = true
docker.fixOwnership = true
process.container = 'sangerpathogens/companion@sha256:0d79b408bc2349c57854582769c2083619a246c0f857d76f928238e6e2640287'
process.$make_report.errorStrategy = 'ignore'

// === custom data ===

params {
  inseq = "${baseDir}/nbt/LinJwholegenome_20080508.v3.0a.fasta"
  dist_dir = "results"
  do_contiguation = false
  GENOME_PREFIX = "LINF"
  CHR_PATTERN = "LINF_(%w+)"
}
